.nav-link-custom {
    display: block;
    padding: 8px 2rem;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    border-radius: 20px;
    background-color: #26d326;
}
.text-center{
  text-align: center;
}
.nav-links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
    gap: 0;
}
.nav-link-custom:hover {
    color: #555;
}
.text-decoration-none{
  text-decoration: none;
}
.text-black{
  color: black;
}
.blue-color{
  background-color: #0d6efd;
}
.logo-text{
  font-size: 1.5rem;
  color: #e21111;
  font-weight: 600;
}
.gallery-text{
  padding: 0.5rem;
}

.btn {
  padding: 0.5rem 1rem;        
  font-size: 1.5rem;             
  font-weight: 600;           
  color: #fff;               
  background-color: #007bff;   
  border: 1px solid #007bff;  
  border-radius: 0.375rem;   
  cursor: pointer;          
  text-decoration: none;
}
.section-services{
    background-color: lightblue;
}

.section-services h2,
.section-gallery h2{
  font-size: 2rem;
}
.section-services h3,
.section-gallery h3{
  font-size: 1.5rem;
}
.section-services p{
  font-size: 20px;
}
.section-services h4{
  font-size: 25px;
}
.title-box{
  padding: 1rem;
}

span{
  color:#db0f0f
}

.img-gallery {
  max-width: 100%;
  height: auto;
  display: block;
}
#portfolio .portfolio-item {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}


.gallery-item-title{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0;
}

.gallery-item-subtitle{
  font-size: 20px;
}

header{
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("https://i.postimg.cc/cLz9QSmL/pexels-blaque-x-264516-932638.jpg");
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
.header-text {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 25px;
}
.header-text2 {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
}

.gallery-text{
  padding: 1.5rem;
}

footer{
  font-size: 1.25rem;
  background-color: lightblue;
}

.logo-social-media{
  color: blue;
}
.footer-link{
  text-decoration: none;
  color: black;
  padding: 8px;
}
nav{
  max-width: 99%;
}
